{% extends 'scheduler/scheduler2_base.html' %}
{% block customizeSchedulerCss %}
    <LINK REL=StyleSheet HREF="/css/login.css" TYPE="text/css" MEDIA=screen>
{% endblock %}

{% block content %}
    <div id='content'>
        <div style='float: left;' class='item'>
            {% if registrationForm.errors %}
                <p style="color: red;">
                    Please correct the error{{ registrationForm.errors|pluralize }} below.
                </p>
            {% endif %}
            {% if message %}

            {{ message }}
            {% if type%}
                <div>
                <a href="/accounts/login">login</a>
                </div>
            {% endif %}
            {% else %}
            <form action="" enctype="multipart/form-data" method="POST">
                <table>
                    {{ registrationForm.as_table }}
                </table>
                {% csrf_token %}
                <input type="submit" value="ثبت">
            </form>
            {% endif %}
        </div>
    </div>

{% endblock %}