<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
   <!-- <link href="/css/table2_css_.css" type="text/css" rel="stylesheet"> -->
    <script src="/js/jquery-1.7.2.min.js" type="text/javascript" ></script>
    <script src="/js/dynamic_table.js" type="text/javascript" ></script>

    <title></title>
</head>
<body>



    <div id="create_table">
        ساخت جدول
    </div>
    <div>
        <input type="text" id="col" value="3"/>
        <input type="text" id="raw"  value="4"/>
    </div>
    <table id="calenderTable" >
        <tbody id="tableBody">
        </tbody>
    </table>

</body>
</html>