{% extends 'base.html' %}
{% block customizeCss %}
    {% block customizeSchedulerCss %}
        {% endblock %}
    <LINK REL=StyleSheet HREF="/css/baseStyle.css" TYPE="text/css" MEDIA=screen>
{% endblock %}


{% block body %}
    {% block user %}
        <div id='user'>
            <ul id='profileUl'>

                <li class='profileItem'>
                    <a class='profileItem' href='/accounts/logout/?next=/scheduler2/0'>
                        log out
                    </a>
                </li>
                <li class='profileItem'>
                    <a class='profileItem' href='/accounts/profile'>
                        profile
                    </a>
                </li>
                <li class='profileItem'>
                    <a class='profileItem' href='/scheduler2'>
                        scheduler
                    </a>
                </li>

                {% if isStuff %}
                    <li class='profileItem'>
                        <a class='profileItem' href='/admin'>
                            administration
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>
    {% endblock %}
    {% block header %}
        <div id="header">
            <div id="arm">
                <img height="100%" width="auto" src="/image/arshco.jpg" alt="arshco">
            </div>
            <div id="headertext" dir="rtl">سامانه‌ی ثبت ساعت شرکت عرش</div>
        </div>
    {% endblock %}
    {% block content %}

    {% endblock %}
    {% block sidebar %}
    {% endblock %}
{% endblock %}