<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd" >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <LINK REL=StyleSheet HREF="../css/baseStyle.css" TYPE="text/css" MEDIA=screen>
    <title>سامانه ثبت ساعت</title>
</head>
<body>
<div id="header">
    <div id="arm">
        <img height="100%" width="auto" src="/image/arshco.jpg" alt="arshco">
    </div>
    <div id="headertext" dir="rtl">سامانه‌ی ثبت ساعت شرکت عرش</div>
</div>

<div id="content">
    <div id="divtable">
        <table id="contenttable">
            <tr>
                <th>
                    عنوان کار
                </th>
                <th>
                    شروع
                </th>
                <th>
                    پایان
                </th>
                <th>
                    مدت زمان
                </th>
            </tr>

            <tr>
                <td>
                    خواندن داک جنگو
                </td>
                <td>
                    ۹:۱۰
                </td>
                <td>
                    ۱۰:۱۰
                </td>
                <td>
                    ۱ ساعت
                </td>
            </tr>
            <tr>
                <td>
                    پاسخ به سوالات کارآموزان
                </td>
                <td>
                    ۱۰:۱۰
                </td>
                <td>
                    ۱۲:۳۵
                </td>
                <td>
                    ۲ ساعت و ۲۵ دقیقه
                </td>
            </tr>
            <tr>
                <td>
                    پاسخ به سوالات کارآموزان
                </td>
                <td>
                    ۱۰:۱۰
                </td>
                <td>
                    ۱۲:۳۵
                </td>
                <td>
                    ۲ ساعت و ۲۵ دقیقه
                </td>
            </tr>
            <tr>
                <td>
                    پاسخ به سوالات کارآموزان
                </td>
                <td>
                    ۱۰:۱۰
                </td>
                <td>
                    ۱۲:۳۵
                </td>
                <td>
                    ۲ ساعت و ۲۵ دقیقه
                </td>
            </tr>
            <tr>
                <td>
                    پاسخ به سوالات کارآموزان
                </td>
                <td>
                    ۱۰:۱۰
                </td>
                <td>
                    ۱۲:۳۵
                </td>
                <td>
                    ۲ ساعت و ۲۵ دقیقه
                </td>
            </tr>
            <tr>
                <td>
                    پاسخ به سوالات کارآموزان
                </td>
                <td>
                    ۱۰:۱۰
                </td>
                <td>
                    ۱۲:۳۵
                </td>
                <td>
                    ۲ ساعت و ۲۵ دقیقه
                </td>
            </tr>
            <tr>
                <td>
                    پاسخ به سوالات کارآموزان
                </td>
                <td>
                    ۱۰:۱۰
                </td>
                <td>
                    ۱۲:۳۵
                </td>
                <td>
                    ۲ ساعت و ۲۵ دقیقه
                </td>
            </tr>
            <tr>
                <td>
                    پاسخ به سوالات کارآموزان
                </td>
                <td>
                    ۱۰:۱۰
                </td>
                <td>
                    ۱۲:۳۵
                </td>
                <td>
                    ۲ ساعت و ۲۵ دقیقه
                </td>
            </tr>
            <tr>
                <td>
                    خواندن داک جنگو
                </td>
                <td>
                    ۱۲:۳۵
                </td>
                <td class="finish">
                    اتمام
                </td>
                <td>
                    --
                </td>
            </tr>
        </table>
    </div>
    <div CLASS="TextField">

        <input class="TextField" type="text">
    </div>
</div>
<div id="sidebar">
    <div id="records">

        <br/>

        <div class="workPacket">
            ۱ آذر ساعت ۸:۰۰
        </div>
        <br/>

        <div class="workPacket">
            ۲ آذر ساعت ۱۲:۳۴
        </div>
        <br/>

        <div class="workPacket">
            ۳ آذر ساعت ۹:۱۰
        </div>
        <br/>

        <div class="workPacket">
            ۴ آذر ساعت ۱۰:۳۰
        </div>
        <br/>

        <div class="workPacket">
            ۵ آذر ساعت ۱۲:۰۰
        </div>
        <br/>

        <div class="workPacket">
            ۴ آذر ساعت ۱۰:۳۰
        </div>
        <br/>

        <div class="workPacket">
            ۵ آذر ساعت ۱۲:۰۰
        </div>
        <br/>

        <div class="workPacket">
            ۴ آذر ساعت ۱۰:۳۰
        </div>
        <br/>

        <div class="workPacket">
            ۵ آذر ساعت ۱۲:۰۰
        </div>
    </div>
    <div id="create">
        ایجاد بسته کاری جدید

    </div>
</div>

</body>
</html>